<div class="row ml-4 mt-4">
    <p class="h5"><a href="/">Home</a>> Edit profile</p>
</div>
<div class="mt-5">
<form class="container border border-dark p-5 col-lg-3 col-lg-offset-4 col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-2 col-10 col-offset-1" action="/host/edit-profile" method="POST" id="editProfileForm">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <p class="h2 mb-4 text-center">Edit profile</p>
  <div class="form-group text-center">
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  {{/if}}
  {{#if success}}
    <div class="alert alert-success" role="alert">
      {{success}}
    </div>
  {{/if}}
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username" readonly value={{user.user_username}}>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-control mb-2" placeholder="Email" value={{user.user_email}}>
  </div>
  
  <div class="row form-group text-center">
    <a class="col-md-12 text-center" href="/host/change-password">Change your password</a>        
  </div>

  <button class="btn btn-info" style="margin-left:35%" type="submit">Save change</button>

</form>
</div>

<style type="text/css">
  @media screen and (max-width: 1024px) {

  }
  @media screen and (max-width: 980px) {

  }
  @media screen and (max-width: 768px) {

  }
  @media screen and (max-width: 640px) {

  }
  @media screen and (max-width: 480px) {

  }
  @media screen and (max-width: 415px) {

  }
  @media screen and (max-width: 320px){

  }
</style>