{{#section 'js'}}
<script src="/js/host-waiting.js"></script>
{{/section}}

<script>
    var list_question = [];
    let data = [list_question, {{ qs_id }}];
</script>
{{#each question}}
<script>
    list_question.push({
        question_id: "{{question_id}}",
        question_content: "{{question_content}}",
        question_answer1: "{{question_answer1}}",
        question_answer2: "{{question_answer2}}",
        question_answer3: "{{question_answer3}}",
        question_answer4: "{{question_answer4}}",
        question_answercorrect: "{{question_answercorrect}}",
        question_image: "{{question_image}}",
        questionset_id: "{{questionset_id}}",
    });
</script>
{{/each}}

<div class="container">
    <div class="row d-flex justify-content-center mt-5 mx-4">
        <div class="border border-dark justify-conetent-center align-items-center flex-column my-5">
            <h2 class="m-3"><strong>PIN</strong>
                <strong id="pin"></strong></h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4  text-white">
            <button class=" col-md-4 btn btn-primary border border-dark" id="host_back"
                style="font-size: 20px">Back</button>
        </div>
        <div class="col-md-4 d-flex flex-column">
            <h1 id="players-number" class="justify-content-center d-flex">0</h1>
            <span class="red display-4 justify-content-center d-flex">
                Players
            </span>
        </div>
        <div class="col-md-4  text-white">
            <button class=" col-md-4 btn btn-success border border-dark" id="host_start"
                style="font-size: 20px;float:right" disabled>Start</button>
        </div>
    </div>
    <div class="row border border-dark" id="playerList">
    </div>
</div>