{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
  $(function () {
    $('#questionset_img').fileinput({
      theme: 'fa',
      dropZoneEnabled: true,
      allowedFileExtensions: ['png', 'jpg', 'gif'],
      uploadAsync: false,
    });
  });
  $("body").addClass('homepage-bg');
</script>
{{/section}}
<div class="container">
  <form class="m-5" action="/host/questionset/{{questionset.questionset_id}}/edit" method="POST"
    enctype="multipart/form-data" id="questionset">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <h1 class="question-set-heading text-white"> Edit question set</h1>
    <div class="row p-3 border rounded border-dark bg-light">
      <div class="form-group col-md-12">
        <div>
          <label><strong>Title</strong></label>
          <input type="title" class="form-control" placeholder="Title of question set" name="title"
            value="{{questionset.questionset_title}}">
        </div>
        <div>
          <label><strong>Description</strong></label>
          <textarea class="form-control" rows="5" placeholder="Description of quetion set"
            name="description">{{questionset.questionset_description}}</textarea>
        </div>
      </div>
      <div class="col-md-8">
        <img src="{{path}}" alt="" id="old_img">
      </div>
      <div class="col-md-4">
        <label><strong>Choose image</strong></label>
        <input type="file" id="questionset_img" name="question_img" data-show-upload="false" multiple>
      </div>
      <div class="form-check row">
        <lable class="radio-inline" style="margin-top:100px; font-size: 20px; ">
          <input type="radio" name="status" value="1" checked> Active</lable>
        <lable class="radio-inline" style="margin-left: 30px; font-size: 20px;">
          <input type="radio" name="status" value="0" {{#if questionset.questionset_state}} {{else}}checked
            {{/if}}>Inactive</lable>
      </div>
    </div>
    <button type="submit" class="btn btn-primary px-5" id="btn-question-set">Save</button>
    <a type="cancel" class="btn btn-secondary px-5" id="btn-question-set" href="/host/questionset">Cancel</a>
  </form>
</div>