{{#section 'js'}}
<script>
    $("body").addClass('homepage-bg');
</script>
{{/section}}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="question-set-heading text-white">Question sets</h1>
            <a class="btn btn-primary btn-lg fas fa-plus mx-0" id="btn-question-set" style="margin-top: 20px"
                href="/host/questionset/add"> Add</a>
            {{#if this.questionset}}
            {{else}}
            <h1 class="row d-flex justify-content-center text-white">No data</h1>
            {{/if}}
            {{#each this.questionset}}
            <div class="list-group my-2 border border-primary rounded">
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    {{#if questionset_image}}
                    <img src="/img/{{questionset_image}}" width="80px" height="80px" class="img-rounded">
                    {{else}}
                    <img src="https://media.giphy.com/media/Z1Exz24FbX3Ko/giphy.gif" width="80px" height="80px"
                        class="img-rounded">
                    {{/if}}
                    <a id="questionset_title" style="font-size: 24px; font-weight: bold"
                        href="/host/questionset/{{questionset_id}}/question">{{questionset_title}}</a>
                    <span class="badge">
                        {{#if questionset_state }}
                        <a class="btn btn-success" href="/host/questionset/{{questionset_id}}/create_room"> <i
                                class="fas fa-external-link-alt"></i> New Game </a>
                        {{else}}
                        <button class="btn btn-secondary disabled"> <i class="fas fa-external-link-alt"></i> New Game
                        </button>
                        {{/if}}
                        <a class="btn btn-info mx-4" href="/host/questionset/{{questionset_id}}/edit"><i
                                class="fas fa-edit"></i> Edit</a>
                    </span>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>