{{#section 'js'}}
<script src="/js/host-waiting.js"></script> 
{{/section}}

<script>
    var list_question = [];
    let data = [list_question, {{ qs_id }}];
</script>
{{#each question}}
<script>
    list_question.push({
        question_id: "{{question_id}}",
        question_content: "{{question_content}}",
        question_answer1: "{{question_answer1}}",
        question_answer2: "{{question_answer2}}",
        question_answer3: "{{question_answer3}}",
        question_answer4: "{{question_answer4}}",
        question_answercorrect: "{{question_answercorrect}}",
        question_image: "{{question_image}}",
        questionset_id: "{{questionset_id}}",
    });
</script>
{{/each}}

<div class="container">
    <div class="row d-flex justify-content-center mt-5 mx-4">
        <div class="border border-dark col-md-3"
            style="font-size: 30px;margin-bottom: 100px; border: 5px solid; text-align:center;">
            <p><strong> PIN: <span id="pin"></span> </strong></p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <span class="red display-4">
                <h1 id="players-number">0</h1>Players
            </span>
        </div>
        <div class="col-md-6  text-white">
            <button class=" col-md-4 btn btn-success border border-dark" id="host_start"
                style="font-size: 20px;float:right" disabled>Start</button>
        </div>
    </div>
    <div class="row border border-dark" id="playerList">
    </div>
</div>