{{#section 'js'}}
<script>
    let socket = io({ transports: ['websocket'], upgrade: false });
    let data = [list_question, {{ qs_id }}];
    let roomPin = '';
    socket.emit('create_room', data);
    socket.on('waiting-room', (pin) => {
        $('#pin').html(pin);
        socket.emit('host-join', pin);
        roomPin = pin;
        localStorage.setItem("localPin", roomPin);
    })

    socket.on('updatePlayerList', players => {
        $("#players-number").html(players.length);
        $('#playerList').html('');
        for (let i = 0; i < players.length; i++) {
            console.log(players[i].name);
            $('#playerList').append($("<div class='col-md-4 py-2'><p>" + players[i].name + "</p></div>"));
        }
    })



    $("#host_start").click(() => {
        socket.emit("start-game", roomPin);
    })

    socket.on("redirect-to-question", () => {
        window.location.replace('/player/new_game');
    })
</script>
{{/section}}

<script>
    var list_question = [];
</script>
{{#each question}}
<script>
    list_question.push({
        question_id: "{{question_id}}",
        question_content: "{{question_content}}",
        question_answer1: "{{question_answer1}}",
        question_answer2: "{{question_answer2}}",
        question_answer3: "{{question_answer3}}",
        question_answer4: "{{question_answer4}}",
        question_answercorrect: "{{question_answercorrect}}",
        question_image: "{{question_image}}",
        questionset_id: "{{questionset_id}}",
    });
</script>
{{/each}}

<div class="container">
    <div class="row d-flex justify-content-center mt-5 mx-4">
        <div class="border border-dark col-md-3"
            style="font-size: 30px;margin-bottom: 100px; border: 5px solid; text-align:center;">
            <p><strong> PIN: <span id="pin"></span> </strong></p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <span class="red display-4">
                <h1 id="players-number">0</h1>Players
            </span>
        </div>
        <div class="col-md-6  text-white">
            <button class=" col-md-4 btn btn-success border border-dark" id="host_start"
                style="font-size: 20px;float:right">Start</button>
        </div>
    </div>
    <div class="row border border-dark" id="playerList">
    </div>
</div>